.header {
    background-color: black;
    position: relative;
    top: 0;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.hamburger-menu {
    display: none;
}

.header-left > img {
    height: 60px;
}

.header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-left > h3 {
    font-size: 27px;
    font-weight: 600;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right > a {
    text-decoration: none;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.header-right > a:hover {
    color: #1ed760;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    height: 100vh;
    background-color: black;
    overflow: scroll;
}

.sidebar > button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    position: fixed;
    right: 20px;
    top: 20px;
}

.sidebar > img {
    height: 40px;
    width: 138px;
    padding-top: 280px;
    padding-left: 40px;
}

.side-nav-links {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.side-nav-links > span {
    width: 25px;
    height: 2px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
}

.main-links {
    display: flex;
    flex-direction: column;
}

.main-links > a {
    text-decoration: none;
    color: white;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-left: 40px;
}

.useful-links {
    display: flex;
    flex-direction: column;
}

.useful-links > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
    padding-left: 40px;
}