.backgroundone {
    background-color: #f46ebe;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #202F72;
}

.backgroundone > img {
    width: 40%;
}

.backgroundtwo > img {
    width: 40%;
}

.hash {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
}

.buttons > button {
    margin-right: 3%;
    border: none;
    background-color: black;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}

.buttons > button > img {
    height: 40px;
    border-radius: 5px;
}

.contentOne {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 35%;
    margin: 0 auto;
}

.contentOne > h1 {
    font-size: 60px;
    font-weight: 700;
}

.contentOne > h3 {
    font-size: 25px;
    font-weight: 500;
}

.contentOne > a {
    color: #204199;
    font-size: 16px;
    font-weight: 500;
}

.backgroundtwo {
    background-color: #2941ab;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1ED760;
}

.contentTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
    width: 35%;
    margin: 0 auto;
}

.contentTwo > h1 {
    font-size: 60px;
    font-weight: 700;
}

.contentTwo > h3 {
    font-size: 25px;
    font-weight: 500;
}

.contentTwo > button {
    border: none;
    background-color: #1ED760;
    color: #2941ab;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    width: 180px;
    padding: 10px;
    height: 45px;
    border-radius: 100px;
    cursor: pointer;
}

.contentTwo > button:hover {
    transform: scale(1.05);
}

.footer {
    height: 400px;
    background-color: black;
    color: white;
    padding: 65px 15%;
}

.backgroundthree {
    display: flex;
    justify-content: space-between;
}

.footer-logo > img {
    height: 60px;
}

.footer-logo {
    display: flex;
    align-content: flex-start;
    cursor: pointer;
}

.footer-logo > h3 {
    font-size: 27px;
    padding-top: 10px;
    font-weight: 600;
}

.company, .communities, .useful {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.company > span, .communities > span, .useful > span {
    text-transform: uppercase;
    color: gray;
    padding: 10px 0;
    font-weight: 700;
    font-size: 15px;
}

.company > li, .communities > li, .useful > li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

.company > li:hover, .communities > li:hover, .useful > li:hover, .social-links > button:hover, .location > span:hover, .about > span:hover, .last-line > span:hover {
    color: #1ed760;
}

.social-links {
    padding: 30px 0;
}

.social-links > button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100px;
    background-color: #252525;
    color: white;
    padding: 0;
    margin-left: 25px;
    cursor: pointer;
}

.footer-last {
    padding-top: 70px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    color: gray;
}

.location {
    text-align: right;
    padding: 10px 0;
}

.last-line {
    display: flex;
    justify-content: space-between;
}

.about > span {
    padding-right: 20px;
}

.about > span, .last-line > span, .location > span {
    cursor: pointer;
}

.links {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .backgroundone > img, .backgroundtwo > img {
        display: none;
    }
    .footer {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width: 1140px) {
    .buttons {
        display: none;
    }
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 1000px) {
    .backgroundthree {
        display: flex;
        flex-direction: column;
    }
    .links {
        width: 100%;
    }
    .footer {
        height: fit-content;
        padding-left: 10%;
        padding-right: 10%;
    }
    .contentOne, .contentTwo {
        width: 60%;
    }
    .social-links {
        padding-bottom: 0;
    }
    .social-links > button {
        margin: 0;
        margin-right: 30px;
    }
}

@media (max-width: 700px) {
    .header-right {
        display: none;
    }
    .header {
        justify-content: space-between;
        padding: 0 5%;
    }
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        height: 100%;
        box-sizing: border-box;
    }
    .hamburger-menu > span {
        width: 30px;
        height: 5px;
        border-radius: 5px;
        margin-bottom: 6px;
        background-color: white;
    }
    .contentOne, .contentTwo {
        width: 70%;
    }
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 450px) {
    .contentOne, .contentTwo {
        width: 80%;
        height: 75%;
    }
    .links {
        flex-direction: column;
    }
    .communities, .company, .useful {
        padding-bottom: 0;
    }
}

@media (max-width: 350px) {
    .contentOne, .contentTwo {
        width: 90%;
        height: 80%;
    }
    .contentOne > h1, .contentTwo > h1 {
        font-size: 50px;
        font-weight: 600;
    }
    .social-links {
        display: flex;
        flex-direction: column;
        height: 220px;
        justify-content: space-between;
        padding: 0;
        padding-top: 40px;
    }
    .footer-last{
        padding-top: 40px;
    }
}